{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<!--<h3>{{ message }}</h3>-->

<p>Site web crée dans le but de ce former au framework 
    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://djangobook.com/django-tutorials/">DJANGO</a>
    et a l'utilisation de 
    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://getbootstrap.com/">Bootstrape</a></p>

{% endblock %}
