{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <i class="bi bi-envelope"></i>
    <strong>Email:</strong> <a class="text-body-secondary" href="mailto:flo.eck@hotmail.fr">flo.eck@hotmail.fr</a>
</address>
<address>
    <i class="bi bi-instagram icons"></i>
    <strong>Instagram: </strong>
    <a class="text-body-secondary" href="https://www.instagram.com/florian_eckert67"
       aria-label="Instagram">
        florian_eckert67
    </a>
</address>
<address>
    <i class="bi bi-facebook icons"></i>
    <strong>Facebook: </strong>
    <a class="text-body-secondary" href="https://www.facebook.com/share/1BGPMMCVbw/"
       aria-label="Facebook">
        Florian Eckert
    </a>
</address>
<address>
    <i class="bi bi-linkedin icons"></i>
    <strong>Linkedin: </strong>
    <a class="text-body-secondary" href="https://www.linkedin.com/in/florian-eckert-b129531a2"
       aria-label="Linkedin">
        Florian Eckert
    </a>
</address>
<address>
    <i class="bi bi-github icons"></i>
    <strong>GitHub: </strong>
    <a class="text-body-secondary" href="https://github.com/MoonUnicorne"
       aria-label="GitHub">
        MoonUnicorne
    </a>
</address>

{% endblock %}
