{% extends "app/layout.html" %}

{% block content %}


<div>
    <h2>Florian Eckert</h2>
    <p>
        Analyste développeur
    </p>
</div>
<div id="experience">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseexperience" aria-controls="collapseexperience" aria-expanded="true">
                Experience
            </button>
        </div>
        <div class="show in" id="collapseexperience" data-parent="#experience">
            <div class="card card-body">
                    {% for experience in experiences %}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">{{ experience.poste }} <span class="text-muted">{{ experience.entreprise }}</span> </div>
                        
                        </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ experience.description }}
                        </div>
                        <div class="card-text text-muted"> {{ experience.periode }}</div>
                    </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="formation">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFormation" aria-controls="collapseFormation" aria-expanded="true">
                Formation
            </button>
        </div>
        <div class="show in" id="collapseFormation" data-parent="#formation">
            <div class="card card-body">
                <ul class="list-group">

                    {% for formation in formations %}
                    <li>
                        <span>{{ formation.annee }}</span>
                        <span>
                            {{ formation.titre }} - {{ formation.lieu }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}